html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

.content-row {
  padding: 20px 12px 12px 12px; }

#map {
  height: 400px;
  padding: 0; }

@media screen and (min-width: 900px) {
  #map {
    height: 600px; } }

#toprow {
  background-color: #f5f4f0;
  padding-top: 20px; }

#header h1 {
  font-family: 'Amatica SC', cursive;
  font-size: 3em;
  margin: 0 0; }

#header .nav.navbar-nav {
  float: right; }

#header .navbar {
  margin: 0; }

a .navlink {
  color: black; }

#heading {
  padding-top: 0px;
  padding-bottom: 0px; }

h2, h3, h4, h5, h6 {
  margin: 0 0;
  display: inline; }

#selections {
  background-color: #FFF;
  padding: 0 10px; }

select.form-control {
  width: 90%;
  display: inline; }

i {
  margin-left: 5px; }

.glyphicon-plus-sign {
  color: #d47311; }

.select-box {
  margin-bottom: 40px; }

#right-bottom {
  padding-left: 40px; }

.day-list {
  margin-bottom: 20px; }

#meal-list {
  list-style: none;
  list-style-position: inside; }

#day-head {
  text-align: center;
  padding-bottom: 15px; }
  #day-head ul {
    list-style-type: none; }
